/*======================= GENERAL CSS ==========================*/

html, body{
  overflow-x: hidden;
  margin:0;
}

h1, h3, h4, h5, h6 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 40px;
  margin-bottom: 30px;
}
h2 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  line-height: 24px;
  font-weight: 200;
}
p {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  text-align: center;
}

a {
  text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

/* GRID */
.container {
}

.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

/*======================= HEADER/HERO ==========================*/
.header {
  color:#FFFFFF;
  background:#0F2327;
  background-image: linear-gradient(206deg, rgba(26,93,105,0.8) 0%, rgba(26,93,105,0.8) 10%, transparent), url(../images/grass-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-header {
  margin: 3em auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  align-content: center;
}

.logo-header article {
  width: calc(45% - .5em);
	padding: 10px;
  align-items: center;
  margin-left: 40px;
}

.site-logo article {
  padding: 1em;
  max-width: 200px;
}

.site-logo > a {
  color: #FFFFFF;
  text-decoration: none;
}

.buttons-box article{
  padding: 1em;
}

.signin-btn {
  padding: 1em;
  display: flex;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #979797;
  background-color: #FF7C00;
  color: #FFFFFF;
  text-decoration: none;
  width: 65px;
  float: right;
  margin: 10px;
}

.signin-btn:hover  >a {
  color: #FFFFFF;
  background: #4A4A4A;
}

.signup-btn {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #979797;
  background-color: #FF7C00;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  width: 65px;
  float: right;
  margin: 10px;
}

.signup-btn:hover > a {
  color: #FFFFFF;
  background: #4A4A4A;
}

.hero {
  text-align: center;
  display: block;
  position: relative;
}

.hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 1em 0 0;
}

.hero p {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 100;
  margin: 1.5em 10em;
  line-height: 2em;
}

.hero img {
  display: block;
  margin: 4em auto 0;
  width: 65%;
}

/*======================= BUTTONS ==========================*/
.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 30px;
  background: #0ED8CF;
  box-shadow: 1px 2px 0px 0px #9B9B9B;
}

.btn:hover {
  color: #FFFFFF;
  background: #4A4A4A;
}

/*======================= BENEFITS SECTION ==========================*/
.benefits {
  margin: 3em auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  align-content: center;
 }

.benefits article {
  width: calc(32% - .5em);
	min-height: 20em;
	margin-bottom: auto;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
  align-items: center;
}

.benefits-circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: .008em solid #979797;
  box-shadow: 1px 2px 0px 0px #9B9B9B;
  background: #D8D8D8;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-circle i {
  color: #1A5D69;
  font-size: 90px;
}

.benefits-text h2 {
  color: #1A5D69;
}

/*======================= PRICING SECTION ==========================*/
.pricing {
  background-image: linear-gradient(206deg, rgba(26,93,105,0.8) 0%, rgba(26,93,105,0.8) 10%, transparent), url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 4em auto;
  display: flex;
  flex-wrap: wrap;
}

.pricing-header {
  display: flex;
  flex-wrap: wrap;
}
.pricing-header > h2{
  color: #FFFFFF;
  margin: 3em auto 1em;
}

.pricing-header > p{
  color: #FFFFFF;
  margin: 1em auto;
  padding: 0 8em;
}

.pricing-single {
	min-height: 20em;
	margin-bottom: auto;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

.pricing-circle {
  height: 13em;
  width: 13em;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  background: #333C3D;
  vertical-align: middle;
  align-self: center;
  z-index: 1;
}

.pricing-circle >h3 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
}

.pricing-circle >h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 47px;
  font-weight: normal;
  color: #FFFFFF;
}

.pricing-box {
  padding: 1em 5px 0;
  background: rgba(155, 155, 155, 0.8);
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.20);
  border: 5px solid #FFFFFF;
  height: 520px;
  width: 300px;
  margin-top: -3em;
}

.pricing-box >p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 3em;
  padding-top: 20px;
}

.pricing-box .pricing-btn {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 15px;
  background: #FF7C00;
  box-shadow: 1px 2px 0px 0px #9B9B9B;
  margin-top: 1.5em;
}

.pricing-box .pricing-btn:hover {
  color: #FFFFFF;
  background: #4A4A4A;
}

.pricing-small p{
  margin: 3em;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  font-style: italic;
}

/*======================= TESTIMONIALS SECTION ==========================*/
.testimonial {
  margin: 4em auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial-header {
    margin: 3em auto;
}

.testimonial-header > h2{
  color: #1A5D69;
  margin: 3em auto 1em;
}

.testimonial-header > p{
  color: #000000;
  margin: 1em auto;
  padding: 0 14em;
}

.testimonial-single {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

.testimonial-circle {
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
  padding: 2.5em;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background: #1A5D69;
  align-self: center;
  z-index: 1;
  margin-bottom: 1em;
}

.testimonial-circle p {
  color: #FFFFFF;
}

.testimonial-circle .testimonial-avatar {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  margin-left: 2em;
  text-align: left;
  color: #FFFFFF;
}

.testimonial-avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: .1em solid #979797;
  float: right;
}

/*======================= LAST CALL TO ACTION SECTION ==========================*/
.last-call {
  margin: 5em auto;
  text-align: center;
}

.last-call-text > h2 {
  font-family: 'Lato', sans-serif;
  font-size: 44px;
  color: #1A5D69;
  font-weight: bold;
}

.last-call-text > p {
  font-size: 24px;
  line-height: 40px;
}

.last-call-button .btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 30px;
  background: #0ED8CF;
  box-shadow: 1px 2px 0px 0px #9B9B9B;
  font-size: 24px;
}

.btn:hover {
  color: #FFFFFF;
  background: #4A4A4A;
}

/*======================= FOOTER ==========================*/
.footer .footer-container {
  background-color: #1A5D69;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 30px;
}

.copyright-info {
  align-self: center;
}

.copyright-info > p{
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  margin-bottom: 1.5em;
}

.copyright-info >a{
  color: #FFFFFF;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-top: 2em;
}

.general-info {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  align-self: center;
}

.about-contact >a{
  color: #FFFFFF;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  padding: 0 15px;
  text-decoration: none;
}

.about-contact .space {
  padding: 0 10px;
}

.social-bar {
  text-align: center;
  margin-top: 2em;
}

.social-bar .fa-lg{
  font-size: 30px;
  color: #FFFFFF;
  padding: 0 30px;
}

.logo  {
  align-self:flex-end;
  padding: 1em;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (max-width: 600px) {

  /*===== HEADER/HERO - MOBILE */
  .header {
    background-size: auto;
  }

  .logo-header {
    flex-direction: column;
    margin: 1em auto;
  }

  .logo-header article {
    width: calc(100% - 0em);
    text-align: center;
    margin: auto;
  }

  .site-logo > a > img{
    width: 40%;
  }

  .buttons-box article{
    text-align: center;
  }

  .signin-btn {
    display: inline-block;
    float: none;
  }

  .signup-btn {
    display: inline-block;
    float: none;
  }

  .hero h1 {
    font-size: 43px;
    margin: 0;
    line-height: 44px;
  }

  .hero p {
    font-size: 18px;
    margin: 1em;
  }

  .hero img {
    margin: 3em auto 0;
    width: 85%;
  }

  /*===== BENEFITS SECTION - MOBILE */

  .benefits article {
    width: calc(100% - 0em);
  }

  .benefits-circle {
    height: 8em;
    width: 8em;
  }

  .benefits-circle i {
    font-size: 60px;
  }

  .benefits-text h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .benefits-text p {
    margin: 18px;
  }

  /*===== PRICING SECTION - MOBILE */
  .pricing {
    background-size: auto;
    margin: 2em auto;
  }

  .pricing-header > h2{
    margin: 1em 18px .5em;
    font-size: 30px;
    line-height: 30px;
  }

  .pricing-header > p{
    padding: 0;
    margin: 18px;
  }

  .pricing-circle {
    height: 11em;
    width: 11em;
  }

  .pricing-circle >h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .pricing-circle >h4 {
    font-size: 40px;
    line-height: 20px;
  }

  .pricing-box {
    height: 450px;
  }

  .pricing-box >p {
    font-size: 19px;
    line-height: 2em;
    padding-top: 25px;
  }

  /*===== TESTIMONIAL SECTION - MOBILE */
  .testimonial {
    margin: 2em auto;
    justify-content: center;
  }

  .testimonial-header {
    margin: 0 auto;
  }

  .testimonial-header > h2{
    font-size: 30px;
    line-height: 30px;
  }

  .testimonial-header > p{
    margin: 18px;
    padding: 0;
  }

  .testimonial-single {
    align-content: center;
  }

  .testimonial-circle {
    height: 10em;
    width: 10em;
  }

  .testimonial-circle > p {
    font-size: 16px;
    line-height: 21px;
    margin: 0 auto;
  }

  .testimonial-name > p {
    padding-top: 5px;
    font-size: 15px;
    line-height: 19px;
  }

  .testimonial-circle .testimonial-avatar {
    z-index: 100;
  }

  .testimonial-avatar img {
    height: 75px;
    width: 75px;
  }

  /*===== LAST CALL TO ACTION SECTION - MOBILE */
  .last-call {
    margin: 4em auto;
  }

  .last-call-text > h2 {
    font-size: 40px;
    line-height: 20px;
  }

  .last-call-text > p {
    font-size: 22px;
  }

  .last-call-button .btn {
    padding: 8px 28px;
    font-size: 22px;
  }

  /*===== FOOTER SECTION - MOBILE */
  .footer .footer-container {
    justify-content: center;
    flex-direction: column;
  }

  .copyright-info {
    text-align: center;
  }

  .copyright-info > p{
    font-size: 14px;
    margin: 0;
  }

  .copyright-info >a{
    font-size: 14px;
    margin-top: 1em;
  }

  .general-info {
    margin-top: 1em;
  }

  .logo  {
    align-self: center;
    text-align: center;
    padding-top: 2em;
    width: 80%;
  }

}


/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max999)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 999px) {

  /*===== HEADER/HERO - TABLET */
  .header {
    background-size: auto;
  }

  .logo-header {
    flex-direction: column;
    margin: 1em auto;
  }

  .logo-header article {
    width: calc(100% - 0em);
    text-align: center;
    margin: auto;
  }

  .site-logo > a > img{
  width: 25%;
  }

  .buttons-box article{
    text-align: center;
  }

  .signin-btn {
    display: inline-block;
    float: none;
  }

  .signup-btn {
    display: inline-block;
    float: none;
  }

  .hero h1 {
    font-size: 43px;
    margin: 0;
    line-height: 44px;
  }

  .hero p {
    font-size: 18px;
    margin: 1em;
  }

  .hero img {
    margin: 3em auto 0;
    width: 85%;
  }

  /*===== BENEFITS SECTION - TABLET */

  .benefits article {
    width: calc(100% - 0em);
  }

  .benefits-circle {
    height: 8em;
    width: 8em;
    margin: 5px;
  }

  .benefits-circle i {
    font-size: 60px;
  }

  .benefits-text h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .benefits-text p {
    margin: 18px;
  }

  /*===== PRICING SECTION - TABLET */
  .pricing {
    background-size: auto;
    margin: 2em auto;
  }

  .pricing-header > h2{
    margin: 1em 18px .5em;
    font-size: 30px;
    line-height: 30px;
  }

  .pricing-header > p{
    padding: 0;
    margin: 18px;
  }

  .pricing-circle {
    height: 11em;
    width: 11em;
  }

  .pricing-circle >h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .pricing-circle >h4 {
    font-size: 40px;
    line-height: 20px;
  }

  .pricing-box {
    height: 450px;
  }

  .pricing-box >p {
    font-size: 19px;
    line-height: 2em;
    padding-top: 25px;
  }

  /*===== TESTIMONIAL SECTION - TABLET */
  .testimonial {
    margin: 2em auto;
    justify-content: center;
  }

  .testimonial-header {
    margin: 0 auto;
  }

  .testimonial-header > h2{
    font-size: 30px;
    line-height: 30px;
  }

  .testimonial-header > p{
    margin: 18px;
    padding: 0;
  }

  .testimonial-single {
    align-content: center;
  }

  .testimonial-circle {
    height: 10em;
    width: 10em;
  }

  .testimonial-circle > p {
    font-size: 16px;
    line-height: 21px;
    margin: 0 auto;
  }

  .testimonial-name > p {
    padding-top: 5px;
    font-size: 15px;
    line-height: 19px;
  }

  .testimonial-circle .testimonial-avatar {
    z-index: 100;
  }

  .testimonial-avatar img {
    height: 75px;
    width: 75px;
  }

  /*===== LAST CALL TO ACTION SECTION - TABLET */
  .last-call {
    margin: 4em auto;
  }

  .last-call-text > h2 {
    font-size: 40px;
    line-height: 20px;
  }

  .last-call-text > p {
    font-size: 22px;
  }

  .last-call-button .btn {
    padding: 8px 28px;
    font-size: 22px;
  }

  /*===== FOOTER SECTION - TABLET */
  .footer .footer-container {
    justify-content: center;
    flex-direction: column;
  }

  .copyright-info {
    text-align: center;
  }

  .copyright-info > p{
    font-size: 14px;
    margin: 0;
  }

  .copyright-info >a{
    font-size: 14px;
    margin-top: 1em;
  }

  .general-info {
    margin-top: 1em;
  }

  .logo  {
    align-self: center;
    text-align: center;
    padding-top: 2em;
    width: 80%;
  }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1000px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1000px) {


/* HEADER/NAVBAR - DESKTOP */

/* PROJECTS - DESKTOP */


/* FOOTER - DESKTOP */

}
